<% @users.each do |user| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <% if user.image_name? %>
        <%= image_tag "user_images/#{user.id}.jpg", :size =>'150x150' %>
      <% else %>
        <%= image_tag 'user_images/cat.jpg', :size =>'150x150' %>
      <% end %>
      <h5 class="card-title">名前:<%= user.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">パスワード:<%= user.password %></h6>
      <%= link_to('編集', edit_user_url(user.id) ,class: "card-link") %>
      <%= link_to('削除', user_url(user.id) ,class: "card-link", method: :delete) %>
    </div>
  </div>
<% end %>